<!DOCTYPE html>
<html>
  <head>
    <title>Blog5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
          <a class="navbar-brand"><%= link_to "MyBlog",root_path, class: "btn btn-default" %></a>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "New Post", new_post_path, class: "btn btn-default" %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default" %></li>
        </ul> 
      </div>   
    </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      
   <%= yield %>
 </body>
</html>
